@font-face {
  font-family: 'trojanFont';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src:
          url("Unica77LLWeb-Regular.woff") format("woff"),
          url("Unica77LLWeb-Regular.woff2") format("woff2");
}
/*@font-face {*/
/*  font-family: 'trojanFont';*/
/*  font-style:  italic;*/
/*  font-weight: 100;*/
/*  font-display: swap;*/
/*  src: url("italic.woff") format("woff");*/
/*}*/
