@import "Inter Web/inter.css";
@import "ABCDiatype/import.css";
@import "param";
@import "grid";
@import "typography";

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  //font-family: 'Inter', Helvetica, Neue, sans-serif;
  font-family: 'trojanFont', Helvetica, Neue, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .t-text-reg;
}

p {
  @extend .t-text-reg;
}

h3 {
  @extend .t-text-m;
}

h5 {
  @extend .t-text-small;
}

.t-nav-link {
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none !important;
  line-height: 70px;
  font-size: 63px;

  &:after{
    content: none !important;
  }

  &.router-link-exact-active {
    cursor: default;
    opacity: .5;
  }

  color: white !important;

  .is-desk-width:not(.is-home) & {
    color: $site-color !important;
  }
}

a {
  @extend .link-style;
}
em {
  font-style: inherit;
  text-decoration: underline;
}

.t-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    background: $site-color;
    transform-origin: top left;
  }

  &:before {
    transform: rotate3d(0, 0, 1, 45deg) translate3d(-50%, -50%, 0);
  }

  &:after {
    transform: rotate3d(0, 0, -1, 45deg) translate3d(-50%, -50%, 0);
  }
}



