@import "Inter Web/inter.css";
@import "ABCDiatype/import.css";
@import "param";
@import "grid";
@import "typography";

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  //font-family: 'Inter', Helvetica, Neue, sans-serif;
  font-family: 'trojanFont', Helvetica, Neue, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .t-text-reg;
}

p {
  @extend .t-text-reg;
}

h3 {
  @extend .t-text-m;
}

h5 {
  @extend .t-text-small;
}

.t-nav-link {
  font-weight: 400;
  text-transform: uppercase;
  color: $site-background-color;
  text-decoration: none;
  line-height: 70px;
  font-size: 63px;

  &.router-link-exact-active {
    cursor: default;
    opacity: .5;
  }
}

a {
  color: inherit;
}
