// grid
$unit: 10px;

$gutter: $unit * 2;

//nav
$nav-height: 65px;

// colors
$site-color: #FF0000;
$site-background-color: white;

// font
$line-height: 2 * $unit;
$font-title-size: 43px;

// tile
$tile-box-shadow:  0 3px 10px #00000033;
