.t-title {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;
  font-size: $font-title-size;
  margin-top: 50px;
  margin-bottom: 20px;
}

.t-text-reg {
  font-weight: 400;
  font-size: 17px;
  line-height: $line-height;
  margin-top: 20px;
  margin-bottom: 20px;
}

.t-text-m {
  @extend .t-text-reg;
  font-weight: 600;
}

.t-text-small {
  font-weight: 400;
  font-size: 12px;
  line-height: $small-line-height;
  margin-top: $small-line-height;
  margin-bottom: $small-line-height;
}

.t-text-subtitle {
  @extend .t-text-small;
  text-transform: uppercase;
  color: $site-color;

  + p {
    margin-top: -$small-line-height;
  }
}
